{% extends "base.html" %} {% block title %}Productos • Mi Mercado{% endblock %}
{% block content %}
<div>
  <button class="btn btn-success" href="{% url 'market:product_create' %}">
    Agregar Producto
  </button>
<div/>
<div class="container mt-5">
  <h2 class="mb-4 text-center">Todos los productos</h2>

  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="fw-bold text-success">${{ product.price }}</p>

          {% if product.is_available %}
          <p class="text-muted">Stock: {{ product.stock }}</p>
          {% else %}
          <p class="text-danger">No disponible</p>
          {% endif %} {% if user.is_authenticated %}
          <button class="btn btn-success w-100">Comprar / Truequear</button>
          <button class="btn btn-outline-danger w-100">Borrar</button>
          {% else %}
          <a
            href="{% url 'account_login' %}"
            class="btn btn-outline-primary w-100"
          >
            Inicia sesión para comprar
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center text-muted">No hay productos disponibles.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
