{% extends "base.html" %} {% block title %}Tienda • Mi Mercado{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 text-center">Todos los productos</h2>

  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <div class="text-end">
            <form class="favorite-form" data-product-id="{{ product.id }}" method="POST" action="{% url 'market:toggle_favorite' product.id %}">
              {% csrf_token %}
              {% if user in product.favorited_by.all %}
                <button type="submit" class="btn btn-outline-danger favorite-btn tooltip-btn">
                  ❤️
                  <span class="tooltip-text">🤍 Quitar de la lista de deseos</span>
                </button>
              {% else %}
                <button type="submit" class="btn btn-outline-light favorite-btn tooltip-btn">
                  🤍
                  <span class="tooltip-text">❤️ Agregar a la lista de deseos</span>
                </button>
              {% endif %}
            </form>
        </div>
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="fw-bold text-success">${{ product.price }}</p>
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
          {% else %}
            <img src="{% static 'images/no-image-placeholder.jpg' %}" alt="No image" class="product-image">
          {% endif %}

          {% if product.is_available %}
          <p class="text-muted">Stock: {{ product.stock }}</p>
          {% else %}
          <p class="text-danger">No disponible</p>
          {% endif %} 
            <a href={% url 'market:add_to_cart' product.id %} class="btn btn-success w-100">Agregar al Carrito</a>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="text-center text-muted">No hay productos disponibles.</p>
    {% endfor %}
  </div>
</div>
<script src="{% static 'js/favorites.js' %}"></script>
{% endblock %}
