/* Dark theme */

[data-bs-theme="dark"] {
  --bs-body-bg: #121212;
  --bs-body-color: #f8f9fa;
  --bs-border-color: #444;

  --bs-form-control-bg: #1e1e1e;
  --bs-form-control-color: #f8f9fa;
  --bs-form-control-border-color: #555;
  --bs-form-control-placeholder-color: rgba(255, 255, 255, 0.7);
  --bs-form-control-focus-bg: #1e1e1e;
  --bs-form-control-focus-color: #fff;
  --bs-form-control-focus-border-color: #888;
  --bs-form-control-disabled-bg: #2c2c2c;
  --bs-form-control-disabled-color: #aaa;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

/* NavBar */

.nav-link.text-white {
    border: 2px solid transparent;
    border-radius: 0.375rem;
    transition: all 0.3s ease;
}

.nav-link.text-white:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-link.text-white.active{
    border-color: rgba(255, 255, 255, 0.2);
}

/* Google & Github buttons */

.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.social-login a {
    text-decoration: none;
}

.btn-social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    text-decoration: none;
    color: rgb(24, 23, 23);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-social i {
    font-size: 32px;
    color: #fff;
}

.social-login .btn-social.google {
    background: #DB4437; /* Red for Google */
}

.social-login .btn-social.github {
    background: #333; /* Black for GitHub */
}

.btn-social:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Product Images */

.product-image {
    width: 167px;
    height: 167px;
    object-fit: cover;
}

/* Hover tooltips */

.tooltip-btn {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.outlined-text {
    text-shadow: 2px 2px 4px #ffffff, -2px -2px 4px #ffffff, 2px -2px 4px #ffffff, -2px 2px 4px #ffffff;
}

.sticky-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}