{% extends "base.html" %}
{% load socialaccount %}
{% block title %}Home • Mi Mercado{% endblock %}

{% block no_main %}
{% if not user.is_authenticated %}
<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-end">
    {% comment %} <form
      class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto"
      role="search"
    >
      <input
        type="search"
        class="form-control bg-dark text-white border-secondary"
        placeholder="Buscar..."
        aria-label="Search"
      />
    </form> {% endcomment %}
      <div class="text-end">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalLogin" style="margin-right: 3px;">
          Acceder
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSignup" style="margin-left: 3px;">
          Crear Cuenta
        </a>
    </div>
  </div>
</div>
{% endif %}

<main class="container my-4">
<h1 >Inicio</h1>
{% if user.is_authenticated %}
  <p>Ya estás logueado ✅. Próximo paso: crear productos y compras.</p>
{% endif %}
</main>
{% include 'modals/login.html' %}
{% include 'modals/signup.html' %}
{% endblock %}